body {
    font-family: monospace;
    background-color: rgb(222, 161, 82);
    color: rgb(45, 36, 38);
}

h1 {
    background-color: rgba(198, 133, 48, 0.619);
}

img {
    display: block;
    margin: auto;
    width: 30%;
    height: auto;
}

.container {
    margin: auto;
    width: 50%
}

.homepage-picture {
    width: 60%;
    height: auto;
}